<div class="box categ-reg">
    <div class="columns is-desktop">
        <div class="column is-4">
            <div class="box registry-box is-centered">
                        <figure class="image is-128x128 gift-icon is-center">
                            <img class="is-rounded" src="{{data.registry_icon}}">  <!-- inside quotes, instead of link add {{data.registry_icon}}-->
                        </figure>
                        <h1 class="is-size-2 is-size-4-mobile has-text-centered">{{data.title}}
                            <br> <span>Registry</span>
                        </h1>
                        <span>In category: "{{data.categories.0.category_name}}"</span>
                        <div class="has-text-centered my-2">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fas fa-calendar-day"></i>
                                </span>
                                <span>{{data.event_date}}
                                </span>
                            </span><br>
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </span>
                                <span>{{data.address}}
                                </span>
                            </span>
                        </div>                       
                    </div>
                </div>
        {{!-- item list --}}
        <div class="column">
            <div class="item-list-box">
                <article class="panel item-list-panel">
                    <p class="panel-heading"> Registry List </p>
                    <p class="panel-block ">
                    <div class="columns is-mobile">
                        <div class="column dashboard-item">Item <span> (Click me)</span></div>
                        <div class="column dashboard-item is-2 ">Choose</div>
                        <div class="column dashboard-item is-2">Status</div>

                    </div>
                    </p>

                    {{#if data.items.length}}

                    {{#each data.items as |item|}}
                    <p class="panel-block">
                    <div class="columns  item-list-panel-block is-mobile">
                        <div class="column dashboard-item">
                            <a class="categ-choice" href="{{item_url}}" target="blank">{{item_name}}</a>
                        </div>
                        <div class="column dashboard-item is-2">
                            {{#unless bought}}
                            <a href="" class="button is-warning item-buy"> <i class="far fa-edit"></i></a>
                            {{/unless}}
                        </div>
                        <div class="column dashboard-item is-2">
                            {{#if bought}}
                            <i class="far fa-check-circle"></i>
                            {{else}}
                            <i class="	fas fa-spinner fa-pulse"></i>
                            {{/if}}
                        </div>
                    </div>
                    </p>
                    {{/each}}
                    {{/if}}
                </article>
            </div>
        </div>
</div>
</div>

        {{!-- buy item modal --}}
        <div class="columns">
            <div class="column">
                <div class="modal buy-item-modal">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title">Item Purchased</p>
                            <button class="delete" aria-label="close"></button>
                        </header>
                        <section class="modal-card-body">
                            <p class="modal-text"> You marked this item as purchased!</p>
                        </section>
                        <footer class="modal-card-foot">
                            <button class="button" id="confirm-buy-item">OK</button>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/javascript/guest-dashboard.js"></script>
