<div class="box" style="margin-top: 100px;">
    <div class="columns">
        {{!-- user overview --}}
        <div class="column is-5">
            <div class="card card-profile">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left ">
                            <figure class="image is-96x96 is-centered">
                                <img src="{{user.profile_img}}"
                                    alt="Placeholder image" id="main-profile-img">
                            </figure>
                            <br>
                            <button class="button" id="edit-profile-img">Edit Icon</button>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">{{user.username}}</p>
                            <p class="subtitle is-6">{{user.email}}</p>
                            <p class="subtitle is-6" id="user-id">{{user_id}}</p>
                        </div>
                    </div>

                    <div class="content">
                        <time datetime="2016/1/1">Member since: <br>
                            <span>{{format_date user.createdAt}}</span></time>
                    </div>
                    <div class="buttons">
                        <button class="button " id="delete-profile">DELETE ACCOUNT</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-6">
            {{!-- form to update info --}}
            <form class="form-profile">
                <p id="form-text"> Please enter information to update.</p>
                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                        <input class="input" type="text" placeholder="Username" id="username-update">
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                        <input class="input" type="email" placeholder="Email" id="email-update">
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="password" placeholder="Password" id="password-update">
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </p>
                </div>
                <div class="buttons is-centered">
                    <button class="button" id="submit-profile">Update Account Credentials</button>
                </div>
            </form>
        </div>
    </div>

    <!--edit icon modal-->
    <div class="columns">
        <div class="column">
            <div class="modal">
                <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Choose New Icon</p>
                        <button class="delete" aria-label="close"></button>
                    </header>
                    <section class="modal-card-body">
                        <div class="columns">
                            {{!-- girl bw --}}
                            <div class="column">
                                <figure class="image is-96x96 is-centered">
                                    <img src="https://image.flaticon.com/icons/png/512/5332/5332123.png"
                                        alt="Placeholder image" class="new-img">
                                </figure>
                            </div>
                            {{!-- girl --}}
                            <div class="column">
                                <figure class="image is-96x96 is-centered">
                                    <img src="https://image.flaticon.com/icons/png/512/4305/4305696.png"
                                        alt="Placeholder image" class="new-img">
                                </figure>
                            </div>
                            {{!-- woman --}}
                            <div class="column">
                                <figure class="image is-96x96 is-centered">
                                    <img src="https://image.flaticon.com/icons/png/512/201/201634.png"
                                        alt="Placeholder image" class="new-img">
                                </figure>
                            </div>
                        </div>
                        <div class="columns">
                            {{!-- boy bw --}}
                            <div class="column">
                                <figure class="image is-96x96 is-centered">
                                    <img src="https://image.flaticon.com/icons/png/512/5331/5331645.png"
                                        alt="Placeholder image" class="new-img">
                                </figure>
                            </div>
                            {{!-- boy purple --}}
                            <div class="column">
                                <figure class="image is-96x96 is-centered">
                                    <img src="https://image.flaticon.com/icons/png/512/1458/1458201.png"
                                        alt="Placeholder image" class="new-img">
                                </figure>
                            </div>
                            {{!-- man --}}
                            <div class="column">
                                <figure class="image is-96x96 is-centered">
                                    <img src="https://image.flaticon.com/icons/png/512/236/236831.png"
                                        alt="Placeholder image" class="new-img">
                                </figure>
                            </div>
                        </div>
                    </section>
                    <footer class="modal-card-foot">
                        <button class="button btn cancel">Close</button>
                    </footer>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="/javascript/profile.js"></script>